<h1 class='header-title'>List of all recipes of <%= @user.name %></h1>
<h2><%= link_to 'Add Recipe', new_recipe_path %></h2>

<% if @recipes.empty? %>
  <h3 class='header-title'>No recipes found</h3>
<% else %>
  <% @recipes.each do |recipe| %>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
           <div><%= recipe.description %></div>
        <% if can?(:destroy, recipe) %>
          <%= form_with(model: recipe, method: :delete, url: recipe_path(recipe)) do |form| %>
            <%= form.submit 'Delete', class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
