<table id="foods">
<div id="<%= dom_id food %>">
<tr>
  <th>Name</th>
  <th>Measurement unit</th>
  <th>Quantity</th>
  <th>Unit price</th>
  <th>Actions</th>
</tr>
  <tr id="<%= dom_id food %>">
    <td >
    <%= food.name %>
    </td>
    <td ><%= food.measurement_unit %></td>
    <td ><%= food.quantity %></td>
    <td >$<%= food.price %></td>
    <td ><%= button_to "Delete", food, method: :delete, class: "btn_delete" %></td>
    </tr>
    
    </div>
    </table>
