<div class="food-details">
  <h2><%= food.name %></h2>
  <hr />
  <p><b>Measurement unit:</b> <%= food.measurement_unit %></p>
  <p><b>Quantity:</b> <%= food.quantity %></p>
  <p><b>Price:</b> $<%= food.price %></p>
  <hr />
  <div class="food-actions">
    <%= link_to "Edit", edit_food_path(food) %>
    <%= button_to "Delete", food, method: :delete, class: "delete-btn" %></td>
  </div>
</div>
